* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: var(--ptc);
        font-size: 1.1rem;
        line-height:1.5;
}

* ::selection {
    cursor:pointer;
    background-color: var(--pac);
}

:root {
    /* Colors */
    --ptc: #333333;
    --itc: #e3e1ec;
    --pbgc: #cdc4e0;
    --pc: #eeecf3;
    --pac: #8b9ef3;
    --sbgc: #cbc4d6;
    --sc: #beafd8;
    --sac: #9571ce;
    --sach: #825ebd;
    --pshdc: #cac6ce;
    --phighc: #a675f3;
    --pmodc: #d989ec;
    --plowc: #f0b3e1;
    --delete: #e28080;
    /* CSS Appearance */
    --stdshad: 1px 1px 5px var(--pshdc);
    /* Sizing */
    --brdr: 12px; 
    --spd: 8px;
    --mpd: 32px;
    --lpd: 64px;
    --sis: 40px;
    --xftnts: 2rem;
    --pbrdr: 8px;
}

html {
    background-color: var(--pbgc);
}

h1 {
    padding: var(--spd);
    margin: var(--spd);
    margin-top:17px;
    margin-bottom:auto;
    font-size:2.4rem;
    border-radius: var(--brdr);
    border-left: 5px solid var(--pac);
    border-bottom: 5px solid var(--pac);
}

h2, h3 {
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
}

h2 {
    font-size: 2rem;
    padding: var(--spd);
    margin: var(--spd);
    border-radius: var(--brdr);
    border-left: 5px solid var(--pac);
    border-bottom: 5px solid var(--pac);
}

h3 {
    font-size: 1.8rem;
    border-bottom: 2px solid var(--pbgc)
}

h4 {
    font-size:1.4rem;
}

.grid {
    display: grid;
}

.flex {
    display:flex;
}

.fc {
    align-items: center;
}

.c-invert {
    filter:invert(1);
}

.xfnt {
    font-weight: bold;
    font-size:var(--xftnts);
}

.cfnt {
    text-align: center;
}

.home-icon {
    user-select: none;
    margin-top:var(--mpd);
    font-size:5rem;
}

.clickable {
    cursor:pointer;
    user-select: none;
}

.clickable:hover {
    filter:brightness(1.05);
}

.clickable:active {
    filter:brightness(.95);
    transform:scale(.98);
}

.list {
    min-width:200px;
    min-height:200px;
}

.card {
    min-height:fit-content;
    max-height:fit-content;
    width: 100%;
    background-color: var(--pc);
    border-radius: var(--brdr);
    padding: var(--spd);
    box-shadow: var(--stdshad);
    overflow-y:hidden;
}

.edit {
    margin-right: var(--spd);
}

.edit:active {
    background-color: var(--pac);
}

.delete:active {
    background-color: var(--delete);
}

.clickable.card {
    user-select:none;
}

.main-container {
    min-height:500px;
    grid-template-columns: minmax(300px, 1fr) minmax(800px, 7fr);
}

.nav-wrapper {
    height:100%;
    padding:var(--mpd);
    background-color: var(--sac);
    grid-column: 1;
}

div.nav-main {
    color:#000;
    height:90px;
    background-color: var(--pc);
    border-bottom: 5px solid var(--sach);
    margin-bottom: var(--lpd);
    user-select: none;
}

.nav-item {
    padding: var(--spd);
    border-radius: var(--brdr);
    background-color: var(--sac);
}

.nav-item > * {
    color: #000;
    display: inline-block;
    vertical-align: middle;
    user-select: none;
}

.nav-icon {
    width: var(--sis);
    margin-right: var(--mpd);
}

.task-icon {
    padding: 4px;
    width:var(--sis);
    filter:invert(0.2);
    border-radius: var(--brdr);
    border: 2px solid var(--ptc);
}

.nav-title {
    width: calc(100% - (var(--sis) + var(--mpd)));
    text-align: left;
}

.content-wrapper {
    height:100vh;
    padding: var(--spd);
    grid-template-columns: 1fr;
    grid-template-rows: 150px minmax(300px, 80vh);
    gap:var(--spd);
    justify-items: stretch;
}

.list-wrapper {
    background-color: var(--pac);
    grid-template-rows: repeat(auto-fit, 200px);
    grid-template-columns: repeat(auto-fit, minmax(10%, 300px));
    gap:var(--spd);
}

.task-container {
    background-color: var(--pbgc);
    max-height:80%;
    margin-top: var(--spd);
    flex-direction: column;
    gap: var(--spd);
    overflow-y:scroll;
}

.task-container::-webkit-scrollbar {
    width:6px;
}

.task-container::-webkit-scrollbar-thumb {
    background-color: var(--sach);
    border-radius: var(--brdr);
}

.task-container::-webkit-scrollbar-track {
    background-color: var(--pc);
}

.task-options {
    margin-top: var(--spd);
}

.hover-box {
    transition: all 0.3s;
    transform-origin:center center;
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}

.hover-box:hover {
    transform:scale(1, 1.02) translate(-5px, -5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.phigh {
    border-left: var(--pbrdr) solid var(--phighc);
}

.pmod {
    border-left: var(--pbrdr) solid var(--pmodc);
}

.plow {
    border-left: var(--pbrdr) solid var(--plowc);
}